<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /catfacts/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l
RewriteRule . /catfacts/index.html [L]
</IfModule>