.elem {
    width: 30px;
    height:30px;
    margin:5px ;
    background-color: aqua;
}

#root {
    display: flex;
    flex-wrap: wrap;
}

#kivalasztott{
    width: 200;
    height: 200;
    margin: 10px;
    background-color: bisque;
}